<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Bathroom Dashboard</title>
    <!-- htmx legacy -->
    <script src="https://unpkg.com/htmx.org@1.9.2/dist/htmx-ie11.min.js"></script>


    <link rel="icon" href="static/favicon.ico">
</head>

<body>
    <h1>Current Date & Time</h1>
    <div id="date" hx-get="date" hx-trigger="load, every 10s" hx-target="#date">
        Loading...
    </div>

    <div hx-get="/date?_=${Date.now()}"></div>

    <script>
        // Trigger htmx manually after page load
        document.addEventListener("DOMContentLoaded", function () {
            var dateElement = document.getElementById("date");
            htmx.trigger(dateElement, "load"); // Force htmx to fetch /date
        });
    </script>

</body>

</html>